.DS_Store
*.backup
*.swp
*.swo
*~

*.local
*.local.fish
fish_variables
zed/settings.json

fish/conf.d/
fish/functions/
fish/completions/
fish/themes/
fish/fishd.tmp.*
fish/*.log

.env
.env.local
node_modules/
